body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* POPUP */

.popupImage {
    max-width: 100%;
    max-height: 100%;
}


.mapboxgl-popup-content {
    width: 150%;
    border-radius: 4px;
}

/* SLIDER */


.slider-control-container {
padding: 5px;
}

.slider-control-range-display {
font-size: 16px;
padding-top: 5px;
padding-bottom: 5px;
background-color:#fff!important;
color:#111;
font-family: 'Libre Franklin', sans-serif;
border: 1px solid #6ECCB1;
}



/* TITLE */

#info {
display: table;
position: relative;
margin: 15px auto;
word-wrap: anywhere;
white-space: pre-wrap;
padding: 16px;
border: 1px solid #6ECCB1;
border-radius: 4px;
font-size: 24px;
text-align: center;
color: #111;
background: #fff;
z-index:0;
font-family: 'Libre Franklin', sans-serif;
}

/* MENU (TAGS) */


#tagmenu::before {
    content:"Themes:";
    font-size: 13px;
    color: #111;
    padding:10px;
    font-family: 'Libre Franklin', sans-serif;
    }

#tagmenu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 10px;
    border-radius: 3px;
    width: 300px;
    border: 1px solid #6ECCB1;
    font-family: 'Libre Franklin', sans-serif;
    padding:24px;
}

#tagmenu a {
    font-size: 13px;
    color: #fff;
    border: 1px solid #111;
    background-color: #111;
    border-radius:999em;
    display: inline;
    margin: 4px;
    padding: 4px;
    text-decoration: none;
    text-align: center;
    }
     
    #tagmenu a:hover {
    background-color: #222;
    color: #fff;
    }
     
    #tagmenu a.active {
    background-color: #fff;
    color: #111;
    }
     
    #tagmenu a.active:hover {
    background: #111;
    color:#fff;
    }


/* MENU (SHORELINES) */


#menu::before {
    content:"Shoreline:";
    font-size: 13px;
    color: #111;
    padding:10px;
    font-family: 'Libre Franklin', sans-serif;
    }

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 10px;
    border-radius: 3px;
    width: 300px;
    border: 1px solid #6ECCB1;
    font-family: 'Libre Franklin', sans-serif;
    padding:24px;
    }
     
    #menu a {
    font-size: 13px;
    color: #fff;
    border: 1px solid #111;
    background-color: #111;
    border-radius:999em;
    display: inline;
    margin: 4px;
    padding: 4px;
    text-decoration: none;
    text-align: center;
    }
     
    #menu a:hover {
    background-color: #222;
    color: #fff;
    }
     
    #menu a.active {
    background-color: #fff;
    color: #111;
    }
     
    #menu a.active:hover {
    background: #111;
    color:#fff;
    }
